<footer>
    <p>Copyright @{{getCurrentYear}}. All Right Reserved</p>
</footer>
<div class="loader" style="display:none;"></div>
</div>
</div><!-- /#wrapper -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
</body>
</html>
