<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{pageTitle}}</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body id="{{pageTitle}}">
    <div id="wrapper">
        <header>
            <div class="container">
                <div class="col-md-2">
                    <div class="logo_container">
                        <a href="/">LOGO</a>
                    </div>
                </div>
                
                <div class="menu_container col-md-10" style="text-align: right;">
                    <a href="/contacts/add" class="btn btn-primary">Add Contact</a>
                </div>
            </div>
        </header>
         <div class="container">
